.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2px;
  }
  
  .zixins {
  margin-top: 100px;
  z-index: 10000;
  
  }
  .back {
    width: 1540px;
    height: 740px;
    position: absolute;
    top: 197px;
    left: 327px;
    border-radius: 20px;
    background: #090C29;
    backdrop-filter: blur(60px);
    z-index: 1;
  }